/****  imports    *****/
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/****  font   *****/
$font-size__base: 16px;
$font-family__primary: 'Bellefair', serif;
$font-family__secondary: 'Barlow Condensed', sans-serif;

/*  colors   */
$darkblue: #0B0D17;
$white: #fff;
$black: #000;
$tropicalblue: #D0D6F9;

/*****  functions   ******/
@function em($target) {
  @return calc($target/$font-size--base) * 1vw;
}


/******@media ******/
$mobile: 320px;
$tablet: 768px;
$laptop-md: 1440px;
