@import '../_config.scss';

.container-crew {
  background: url('./background-crew-desktop.jpg') no-repeat center /cover;
  height: 100vh;
  width: 100%;
  color: $white;
  .ez {
    display: flex;
    margin-inline:1em;
    font-size: em(32px);
    text-transform: uppercase;
    font-family: $font-family__secondary;
    letter-spacing: em(4.75px);
    justify-content: flex-start;
     [aria-hidden='true'] {
      opacity: 0.7;
      display: inline;
      align-content: center;
      font-size: em(32px);
      margin: 0.6em 0.5em;
      font-weight: 700;
      color: $white;    }
    h5 {
      margin: 1em 0;
      font-family: $font-family__primary;   }
  }
  .crew_body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1em;
    align-items: center;
    margin: 0.5em 1em;
    padding-inline-start: 0.5em;
    // padding-block: 5em;
    .commander-info {
      grid-column: 1/2;
      [aria-hidden='true'] > h5 {
        opacity: 0.7;
        font-size: em(64px);
        text-transform: uppercase;
        font-family: $font-family__primary;
        margin: 0.3em 0;
        font-weight: 700;
        color: $gray;       }
      h3 {
        font-size: em(48px);
        margin-block: 0.5em;
        text-transform: uppercase;
        font-family: $font-family__secondary;      }
      p {
        font-size: em(24px);
        color: $tropicalblue;
        letter-spacing: em(2.7px);
        font-family: $font-family__secondary;      }
    }
  .commander-image {
    width: 50%;
    height: auto;
    grid-column: 2/3;
    img{
      margin: 0 5em;
      width: 100%;  } }
  }
  .carousel {
    grid-column: 1/2;
    margin-inline: 1em;
    padding: 0.5em;
    a {
      margin-inline-end: 0.5em;
      cursor: pointer;  }
      a:hover {
        background: #fff;
        color: #000;
        border-radius: 10px;
    }
  }
}

//media queries
@media (max-width: $mobile) {
  .container-crew {
    background: url('./background-crew-mobile.jpg') no-repeat center /cover;
    text-align: center;
    .ez {
      justify-content: center;
      [aria-hidden='true'] {
        margin-block: 0.85em;
        font-size: em(64px); }
      h5 {
        font-size: em(64px);       }
    }
    .crew_body {
      grid-template-columns: none;
      grid-template-rows: repeat(3, minmax(0, auto)) !important;
      .commander-image {
        grid-row: 1/2 !important; 
        width: 55% !important;     }
      .commander-info {
        [aria-hidden='true'] > h5 {
          font-size: em(64px) !important;        } 
        h3 {
          font-size: em(80px) !important;        }
        p {
          font-size: em(64px) !important; 
          width: 80% !important;
          line-height: em(64.2px) !important;        }
      }
    }
  }
}


@media (max-width: $tablet) {
  .container-crew {
    background: url('./background-crew-tablet.jpg') no-repeat center /cover;
    .crew_body {
      grid-template-rows: repeat(3, minmax(0, auto));
      .commander-image {
        grid-column: 1 / span 2;
        grid-row: 3 / 4;
        width: 27%;
        margin: 0 auto;  
        img { margin: 0 -1em;}    }
      .commander-info {
        grid-column: 1 / span 2;
        margin: 0 auto;
        text-align: center;  
        [aria-hidden='true'] > h5 {
          font-size: em(32px);        } 
        p { 
         width: 70%; 
         line-height: em(45px);
         margin: 0 auto; }   }
      .carousel {
        grid-column: 1 / span 2;
        grid-row: 2 / 3;
        margin: 0 auto;
      }
    }
  }
}


@media (max-width: $laptop-md) {
  .container-crew {
    max-width: 1440px;
  .commander-image {
    img {margin: 0 10em;}
  }
  .carousel {
    a {
      font-size: em(32px);
    }
  }
  }
}
