@import '../_config.scss';

.container-moon {
  background: url('./background-destination-desktop.jpg') no-repeat center /cover;
  height: 100%;
  width: 100%;
  color: $white;
}
  .ez {
    display: flex;
    height: 20%;
    margin: 0.5em 1em;
    font-size: em(20px);
    text-transform: uppercase;
    font-family: $font-family__secondary;
    letter-spacing: em(4.75px);
    justify-content: flex-start;
     [aria-hidden='true'] {
      opacity: 0.7;
      display: inline;
      align-content: center;
      font-size: em(16px);
      margin: 1.2em 0.5em;
      font-weight: 700;
      color: $white;    }
    h5 {
      margin: 1.5em 0;
      font-family: $font-family__primary;   }
}


.planetSection {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 1em;
  padding-block: 1.5em;
  .planetImg {
    width: 100%; 
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
  }
  .planetInfo {
    display: block;  }
  .navbar-moon {
    grid-column: 2/3;
    margin: 0.2em 0;
  ul {
    font-size: em(16px);
    letter-spacing: em(2.7px);
    display: flex;
    padding: 0;
    font-family: $font-family__secondary;    }
  li {
    list-style-type: none;
    margin: auto 0.3em;    }
  a {
    margin: 0.5em;
    color: $tropicalblue;
    cursor: pointer;
    text-decoration: none; }
    a::after {
        content: '';
        display: block;
        opacity: 0;
        margin: 0.4em 0 0 0;
        border-bottom: 2px solid $white;  }
    a:hover:after {
        opacity: 1;
        animation: hoverEffect ease-in 3s;  }
  }
}

.details {
  padding: 0.2em;
  text-align: left;
  h2 {
    font-size: em(100px);
    font-family: $font-family__primary;
    text-transform: uppercase;
    margin: 0;  }
  p {
    font-family: $font-family__secondary;
    line-height: em(28px);
    color: $tropicalblue;
    width: 70%; }
  .avg-time {
    display: block;
    text-transform: uppercase;
    border-top: 1px solid $tropicalblue;
    .distance, .time {
      display: flex;  }
    .distance p{
      font-size: em(14px);
      letter-spacing: em(2.35px);
      font-family: $font-family__primary;    }
    .time p {
      font-size: em(28px);
      margin: 0;
      font-family: $font-family__primary;
      color: $white;  }
  }

}
