@import '../_config.scss';

.container-moon {
  background: url('./background-destination-desktop.jpg') no-repeat center /cover;
  height: 100vh;
  width: 100%;
  color: $white;
}
  .ez {
    display: flex;
    margin-inline:1em;
    font-size: em(32px);
    text-transform: uppercase;
    font-family: $font-family__secondary;
    letter-spacing: em(4.75px);
    justify-content: flex-start;
     [aria-hidden='true'] {
      opacity: 0.7;
      display: inline;
      align-content: center;
      font-size: em(32px);
      margin: 0.6em 0.5em;
      font-weight: 700;
      color: $white;    }
    h5 {
      margin: 1em 0;
      font-family: $font-family__primary;   }
}


.planetSection {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 1em;
  width: 95%;
  align-items: center;
  // padding-block: 1em;
  margin-inline: auto;
  .planetImg {
    width: 86%;
    height: auto;
    grid-column: 1/2;
    img {
      width: 100%;  }
  }
  .navbar-moon {
    grid-column: 2/3;
    margin: 0.2em 0;
  ul {
    font-size: em(32px);
    letter-spacing: em(2.7px);
    display: flex;
    padding: 0;
    font-family: $font-family__secondary;    }
  li {
    list-style-type: none;
    margin: auto 0.3em;    }
  a {
    margin: 0.5em;
    color: $tropicalblue;
    cursor: pointer;
    text-decoration: none; }
    a::after {
        content: '';
        display: block;
        opacity: 0;
        margin: 0.4em 0 0 0;
        border-bottom: 2px solid $white;  }
    a:hover:after {
        opacity: 1;
        animation: hoverEffect ease-in 3s;  }
  }
}

.planetInfo {
  // padding: 0.2em;
  text-align: left;
  h2 {
    font-size: em(160px);
    font-family: $font-family__primary;
    text-transform: uppercase;
    margin: 0;  }
  p {
    font-family: $font-family__secondary;
    line-height: em(28px);
    color: $tropicalblue;
    width: 80%; }
  .avg-time {
    display: block;
    text-transform: uppercase;
    border-top: 1px solid $tropicalblue;
    width: 80%;
    margin-block: 1em;
    .distance, .time {
      display: flex;
      margin-block: 0.5em;  }
    .distance p{
      font-size: em(24px);
      letter-spacing: em(2.35px);
      font-family: $font-family__primary;    }
    .time p {
      font-size: em(32px);
      margin: 0;
      font-family: $font-family__primary;
      color: $white;  }
  }

}

//animation
@keyframes circle {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

//  media query //
@media (max-width: $tablet) {
  .container-moon {
    background: url('./background-destination-tablet.jpg') no-repeat center /cover;
    .planetSection {
      grid-template-rows: repeat(3, minmax(0,auto));
      .planetImg {
        grid-column: 1 / span 2;
        grid-row: 1/2;      
        width: 30%;
        margin: 0 auto; }
        .navbar-moon {
          margin: 0 auto;
          grid-column: 1 / span 2;
          grid-row: 2/3;  }
          .planetInfo {
            width: 60%; 
            margin: 0 auto;         
            text-align: center;
            grid-column: 1 / span 2; 
            grid-row: 3/4;    
            p, .avg-time {
              width: auto;       }
            .distance, .time { 
              justify-content: space-around;
              text-align: center;       }
         }
    }
  }
}



@media (max-width: $laptop-md){
  .container-moon {
    max-width: 1440px;
  .ez {
    [aria-hidden='true'] {
      font-size: em(33.6px);    }
  }
  .planetInfo p {
    font-size: em(32px);
    line-height: em(40.8px);  }
}
}
