@import '../_config.scss';
.container-tech {
  background: url('./background-technology-desktop.jpg') no-repeat center /cover;
  height: 100vh;
  color: $white;
  width: 100%;
  .ez {
    display: flex;
    margin-inline:1em;
    font-size: em(32px);
    text-transform: uppercase;
    font-family: $font-family__secondary;
    letter-spacing: em(4.75px);
    justify-content: flex-start;
     [aria-hidden='true'] {
      opacity: 0.7;
      display: inline;
      align-content: center;
      font-size: em(32px);
      margin: 0.6em 0.5em;
      font-weight: 700;
      color: $white;    }
    h5 {
      margin: 1em 0;
      font-family: $font-family__primary;   }
  }
    .technology-section {
      display: grid;
      justify-content: space-around;
      grid-gap: 20px;
      grid-template-columns: repeat(5, 1fr);
      line-height: em(28px);
      padding: 1em 0;
      align-items: center;
      font-family: $font-family__secondary;
      .carousel {
        display: flex;
        grid-column: 1/2;
        align-items: center;
        flex-direction: column;
        .icon {
          font-size: 5rem;      }   }
      .technology-info {
        grid-column: 2/ span 2;
      h4 {
        text-transform: uppercase;
        font-size: em(20px);
        color: #D0D6F9;
        font-family: $font-family__secondary;   }
      h3 {
        font-size: em(64px);
        text-transform: uppercase;
        margin-block: 0.5em;
        font-family: $font-family__primary;
        letter-spacing: em(0.5px);      }
      p {
        font-family: $font-family__secondary;
        color: #D0D6F9;
        font-size: em(24px);      }
          }
      .technology-image {
        grid-column: 4/ span 2;
        width: 90%;
      img {
        width: 100%;      }   }
    }
}


//media query//
@media (max-width: $mobile) {
  .container-tech {
    background: url('./background-technology-mobile.jpg') no-repeat center /cover;
    text-align: center;
    .ez {
      justify-content: center;
      [aria-hidden='true'] {
        margin-block: 0.85em;
        font-size: em(64px); }
      h5 {
        font-size: em(64px);       }
    }
    .technology-section {
      grid-template-columns: none;
      .technology-info {
        width: 80% !important;
        h4 {
          font-size: em(64px) !important; 
          margin-block-end: 1.5em;       } 
        h3 {
          font-size: em(128px) !important;        }
        p {
          font-size: em(64px) !important; 
          margin-block-start: 2em;
          line-height: em(64.2px) !important;        }
      }
      .technology-image { width: 100% !important;}
    }
  }
}


@media (max-width: $tablet) {
  .container-tech {
    background: url('./background-technology-tablet.jpg') no-repeat center /cover;
    .technology-section {
      grid-template-rows: repeat(3, minmax(0,auto));
      .technology-image {
        grid-column: 1 / span 5;
        grid-row: 1/2;  
        width: 90%;
        margin: 0 auto;    }
      .carousel { 
        grid-column: 1 / span 5;
        flex-direction: row;
        grid-row: 2/3;
        margin: 0 auto;  
        .icon { font-size: 3rem;}    }
      .technology-info {
        grid-column: 1 / span 5;
        width: 50%;
        text-align: center;
        grid-row: 3/4;
        margin: 0 auto;   
        p { font-size: em(32px)}   }
    }
  }
}
@media (max-width: $laptop-md) {
  .container-tech {
    max-width: 1440px;
  }
}
