@import '../_config.scss';
.container-tech {
  background: url('./background-technology-desktop.jpg') no-repeat center /cover;
  height: 100vh;
  color: $white;
  width: 100%;
  .ez {
    display: flex;
    margin-inline:1em;
    font-size: em(32px);
    text-transform: uppercase;
    font-family: $font-family__secondary;
    letter-spacing: em(4.75px);
    justify-content: flex-start;
     [aria-hidden='true'] {
      opacity: 0.7;
      display: inline;
      align-content: center;
      font-size: em(32px);
      margin: 0.6em 0.5em;
      font-weight: 700;
      color: $white;    }
    h5 {
      margin: 1em 0;
      font-family: $font-family__primary;   }
  }
    .technology-section {
      display: grid;
      justify-content: space-around;
      grid-template-columns: 0.5fr 2fr 1.5fr;
      padding: 1em 0;
      align-items: center;
      column-gap: 1em;
      font-family: $font-family__secondary;
      .carousel {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 5rem;      }   }
      .technology-info {
      h4 {
        text-transform: uppercase;
        font-size: em(20px);
        color: #D0D6F9;
        font-family: $font-family__secondary;   }
      h3 {
        font-size: em(64px);
        text-transform: uppercase;
        margin-block: 0.5em;
        font-family: $font-family__primary;
        letter-spacing: em(0.5px);      }
      p {
        font-family: $font-family__secondary;
        color: #D0D6F9;
        line-height: 32px;
        font-size: em(24px);      }
          }
      .technology-image {
        // width: auto;
        // height: auto; 
        img { width: 100%;}  }   
    }
}



//media query//
@media screen and (max-width: $mobile) {
  .container-tech {
    background: url('./background-technology-mobile.jpg') no-repeat center /cover;
    text-align: center;
    .ez {
      justify-content: center;
      [aria-hidden='true'] {
        margin-block: 0.85em;
        font-size: em(64px); }
      h5 {
        font-size: em(64px);       }
    }
    .technology-section {
      grid-template-columns: 1fr;
      grid-template-areas:   "img img"   
                             "caro caro"    
                             "info info";
      row-gap: 0.5em;
      .carousel { 
        grid-area: caro;
        flex-direction: row;
        margin: 0 auto;  
        .icon { font-size: 3rem;}    }
        .technology-image {  
          grid-area: img;
          width: auto;  
          margin: 0 auto;    }
        .technology-info {
        width: 70%; 
        grid-area: info;    
        text-align: center;
        margin: 0 auto;   
        h4 { 
          font-size: 14px !important;
          line-height: 17px !important;
          letter-spacing: 2.362499952316284px;          }
        h3 { 
          font-size: 24px !important;
          line-height: 28px!important;
          letter-spacing: 0px;        }
        p {  
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: 0px;
          text-align: center;
  
            }   }
    }
}
}


@media screen and (max-width: $tablet) {
  .container-tech {
    background: url('./background-technology-tablet.jpg') no-repeat center /cover;
    .technology-section {
      grid-template-columns: 1fr;
      grid-template-areas:   "img img"   
                             "caro caro"    
                             "info info";
      row-gap: 0.5em;
      .carousel { 
        grid-area: caro;
        flex-direction: row;
        margin: 0 auto;  
        .icon { font-size: 3rem;}    }
        .technology-image {  
          // width: 90%;
          grid-area: img;
          width: auto;  
          margin: 0 auto;    }
        .technology-info {
        width: 70%; 
        grid-area: info;    
        text-align: center;
        margin: 0 auto;   
        h4 { 
          font-size: 16px;
          letter-spacing: 2.7px;
          line-height: 19.2px;      }
        h3 { 
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 46px;    }
        p { 
          font-style: normal;
          font-size: 16px;
          line-height: 28px;
          text-align: center;
          color: #D0D6F9;
          font-weight: 400;
          letter-spacing: 0px;        }   }
    }
}
}
@media (max-width: $laptop-md) {
  .container-tech {
    max-width: 1440px;
  }
}
